.Container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: space-around;
  justify-content: space-around;
  flex-wrap: wrap;
}

.Card-Size{
  margin-top: 10vh;
  height: 225px;
  width: 350px;
}