* {
  margin: 0;
  padding: 0;
}

.App {
  height: 100%;
  width: 100%;
}
::-webkit-scrollbar-track {
  border-radius: 50px;
}

::-webkit-scrollbar {
  width: 13px;
}

::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background: #f8606c;
}
